@model DoAn.Models.tblHopDong
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm hợp đồng mới</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Create">
            <div class="form-row">

                <div class="form-group col-md-6 mb-3">
                    <label>Mã hợp đồng</label>
                    <input type="text" class="form-control" asp-for="HD_MaHopDong" placeholder="Nhập mã hợp đồng..." />
                    <span asp-validation-for="HD_MaHopDong" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Sinh viên</label>
                    <select class="form-control" asp-for="SV_ID" asp-items="ViewBag.svList">
                        <option value="">-- Chọn sinh viên --</option>
                    </select>
                    <span asp-validation-for="SV_ID" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Chọn phòng</label>
                    <select class="form-control" asp-for="P_ID" asp-items="ViewBag.phongList">
                        <option value="">-- Chọn phòng --</option>
                    </select>
                    <span asp-validation-for="P_ID" class="text-danger"></span>
                </div>                

                <div class="form-group col-md-6 mb-3">
                    <label>Ngày bắt đầu</label>
                    <input type="date" class="form-control" asp-for="HD_NgayBatDau" placeholder="Nhập ngày bắt đầu..." />
                    <span asp-validation-for="HD_NgayBatDau" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Ngày kết thúc</label>
                    <input type="date" class="form-control" asp-for="HD_NgayKetThuc" placeholder="Nhập ngày kết thúc..." />
                    <span asp-validation-for="HD_NgayKetThuc" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Giá phòng</label>
                    <input type="number" class="form-control" asp-for="HD_GiaPhong" placeholder="Nhập giá phòng..." />
                    <span asp-validation-for="HD_GiaPhong" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Trạng thái</label>
                    <select asp-for="HD_TrangThai" class="form-select" id="HD_TrangThai">
                        <option value="">-- Chọn trạng thái --</option>
                        <option value="Đang chờ">Đang hiệu lực</option>
                        <option value="Đã xác nhận">Đã hết hạn</option>
                        <option value="Đã nhận phòng">Đã thanh lý</option>
                    </select>
                    <span asp-validation-for="HD_TrangThai" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Ghi chú</label>
                    <input type="text" class="form-control" asp-for="HD_GhiChu" placeholder="Nhập ghi chú..." />
                </div>
                
            </div>

            <a asp-controller="HopDong" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Thoát
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>