@model DoAn.Models.tblHopDong
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận để xóa hợp đồng</h2>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="HD_ID">HD_ID</label>
            <input type="text" class="form-control mb-3" asp-for="HD_ID" disabled />
        </div>
        
        <div class="form-group col-md-6">
            <label asp-for="HD_MaHopDong">Mã hợp đồng</label>
            <input type="text" class="form-control mb-3" asp-for="HD_MaHopDong" disabled />
        </div>

        <div class="form-group col-md-6">
            <label>Sinh viên</label>
            <input type="text" class="form-control mb-3" value="@Model.SinhVien!.SV_HoTen" disabled />
        </div>

        <div class="form-group col-md-6">
            <label>Phòng</label>
            <input type="text" class="form-control mb-3" value="@Model.Phong!.P_TenPhong" disabled />
        </div>

    </div>

    <!-- Begin Form --->
    <form asp-action="Delete" method="Post">
        <input type="hidden" asp-for="HD_ID" />
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Thoát
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            <i class="bi bi-trash"></i> Xóa
        </button>
    </form>
    <!-- End Form -->
</main>