@model DoAn.Models.tblTaiKhoan
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm tài khoản mới</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Create">
            <div class="form-row">

                <div class="form-group col-md-6 mb-3">
                    <label >Họ và tên</label>
                    <input type="text" class="form-control" asp-for="TK_HoVaTen" placeholder="Nhập họ và tên..." />
                    <span asp-validation-for="TK_HoVaTen" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label >Tên đăng nhập</label>
                    <input type="text" class="form-control" asp-for="TK_TenDangNhap" placeholder="Nhập tên đăng nhập..." />
                    <span asp-validation-for="TK_TenDangNhap" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Mật khẩu</label>
                    <input type="text" class="form-control" asp-for="TK_MatKhau" placeholder="Nhập mật khẩu..." />
                    <span asp-validation-for="TK_MatKhau" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Ngày sinh</label>
                    <input type="date" class="form-control" asp-for="TK_NgaySinh" placeholder="Nhập ngày sinh..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="TK_DiaChi" placeholder="Nhập địa chỉ..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Điện thoại</label>
                    <input type="text" class="form-control" asp-for="TK_DienThoai" placeholder="Nhập điện thoại..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>TK_Email</label>
                    <input type="text" class="form-control" asp-for="TK_Email" placeholder="Nhập email..." />
                </div>
            </div>

            <a asp-controller="Account" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Thoát
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>