@model DoAn.Models.tblTaiKhoan
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Sửa tài khoản</h2>
    </div>
    <div class="container shadow p-5">
        <form method="post" asp-action="Edit">
            <div class="form-row">
                <input type="text" class="form-control" asp-for="TK_ID" type="hidden" />

                <div class="form-group col-md-6 mb-3">
                    <label>TK_TenDangNhap</label>
                    <input type=""text" class="form-control" asp-for="TK_TenDangNhap" placeholder="Nhập tên đăng nhập..." />
                    <span asp-validation-for="TK_TenDangNhap" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>TK_MatKhau</label>
                    <input type="text" class="form-control" asp-for="TK_MatKhau" placeholder="Nhập mat khau" />
                    <span asp-validation-for="TK_MatKhau" class="alert-danger"></span>
                </div>
                
                <div class="form-group col-md-6 mb-3">
                    <label>TK_Email</label>
                    <input type="text" class="form-control" asp-for="TK_Email" placeholder="Nhập email" />
                    <span asp-validation-for="TK_Email" class="alert-danger"></span>
                </div>
            </div>

            <a asp-controller="Account" asp-action="Index" class="btn btn-lg btn-warning p-2">
            <i class="bi bi-arrow-left-cricle"></i> Thoát
            </a>

            <button type="submit" class="btn b tn-lg btn-primary p-2">
            <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>