@model DoAn.Models.tblToa
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Sửa tòa KTX của cơ sở</h2>
    </div>
    <div class="container shadow p-5">
        <form method="post" asp-action="Edit">
            <div class="form-row">
                <input type="text" class="form-control" asp-for="T_ID" type="hidden" />
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="CS_ID">Chọn cơ sở</label>
                    <select class="form-control" asp-for="CS_ID" asp-items="ViewBag.csList">
                        <option value="">-- Chọn cơ sở cho tòa --</option>
                    </select>
                    <span asp-validation-for="CS_ID" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="T_TenToa">T_TenToa</label>
                    <input type=""text" class="form-control" asp-for="T_TenToa" placeholder="Nhập tên tòa KTX..." />
                    <span asp-validation-for="T_TenToa" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="T_SoTang">T_SoTang</label>
                    <input type="text" class="form-control" asp-for="T_SoTang" placeholder="Nhập số tầng" />
                    <span asp-validation-for="T_SoTang" class="alert-danger"></span>
                </div>
                
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="T_SLPhong">T_SLPhong</label>
                    <input type="text" class="form-control" asp-for="T_SLPhong" placeholder="Nhập số lượng phòng" />
                    <span asp-validation-for="T_SLPhong" class="alert-danger"></span>
                </div>
            </div>

            <a asp-controller="Toa" asp-action="Index" class="btn btn-lg btn-warning p-2">
            <i class="bi bi-arrow-left-cricle"></i> Thoát
            </a>

            <button type="submit" class="btn b tn-lg btn-primary p-2">
            <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>