@model DoAn.Models.tblDichVuPhong
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Sửa dịch vụ phòng</h2>
    </div>
    <div class="container shadow p-5">
        <form method="post" asp-action="Edit">
            <div class="form-row">
                <input type="text" class="form-control" asp-for="DVP_ID" type="hidden" />
                <div class="form-group col-md-6 mb-3">
                    <label>Chọn Phòng</label>
                    <select class="form-control" asp-for="P_ID" asp-items="ViewBag.phongList">
                        <option value="">-- Chọn phòng --</option>
                    </select>
                    <span asp-validation-for="P_ID" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Chọn dịch vụ</label>
                    <select class="form-control" asp-for="DV_ID" asp-items="ViewBag.dvList">
                        <option value="">-- Chọn dịch vụ --</option>
                    </select>
                    <span asp-validation-for="DV_ID" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Số lượng</label>
                    <input type=""text" class="form-control" asp-for="DVP_SoLuong" placeholder="Nhập số lượng..." />
                    <span asp-validation-for="DVP_SoLuong" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Thành Tiền</label>
                    <input type="number" step="0.001" class="form-control" asp-for="DVP_ThanhTien" placeholder="Nhập thành tiền..." />
                    <span asp-validation-for="DVP_ThanhTien" class="alert-danger"></span>
                </div>
                
                <div class="form-group col-md-6 mb-3">
                    <label>Thời gian</label>
                    <input type="date" class="form-control" asp-for="DVP_ThoiGian" placeholder="Nhập thời gian..." />
                    <span asp-validation-for="DVP_ThoiGian" class="alert-danger"></span>
                </div>
            </div>

            <a asp-controller="DichVuPhong" asp-action="Index" class="btn btn-lg btn-warning p-2">
            <i class="bi bi-arrow-left-cricle"></i> Thoát
            </a>

            <button type="submit" class="btn b tn-lg btn-primary p-2">
            <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>