@model DoAn.Models.tblPhong
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm phòng mới cho tòa KTX</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Create">
            <div class="form-row">

                <div class="form-group col-md-6 mb-3">
                    <label>Chọn tòa KTX</label>
                    <select class="form-control" asp-for="T_ID" asp-items="ViewBag.toaList">
                        <option value="">-- Chọn tòa cho phòng --</option>
                    </select>
                    <span asp-validation-for="T_ID" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Tên phòng</label>
                    <input type="text" class="form-control" asp-for="P_TenPhong" placeholder="Nhập tên phòng..." />
                    <span asp-validation-for="P_TenPhong" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Loại phòng</label>
                    <select asp-for="P_LoaiPhong" class="form-select" id="P_LoaiPhong">
                        <option value="Phòng 2 người">Phòng 2 người</option>
                        <option value="Phòng 4 người">Phòng 4 người</option>
                        <option value="Phòng 6 người">Phòng 6 người</option>
                        <option value="Phòng 6 người">Phòng 8 người</option>
                        <option value="Phòng VIP">Phòng VIP</option>
                        <option value="Phòng nữ riêng">Phòng nữ riêng</option>
                    </select>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Số lượng người</label>
                    <input type="text" class="form-control" asp-for="P_SLNguoi" placeholder="Nhập số lượng người của phòng..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Trạng thái</label>
                    <select asp-for="P_TrangThai" class="form-select" id="P_TrangThai">
                        <option value="Còn trống">Còn trống</option>
                        <option value="Đã đầy">Đã đầy</option>
                        <option value="Đang sử dụng">Đang sử dụng</option>
                        <option value="Đang sửa chữa">Đang sửa chữa</option>
                        <option value="Đang vệ sinh">Đang vệ sinh</option>
                        <option value="Ngừng sử dụng">Ngừng sử dụng</option>
                        <option value="Đặt trước">Đặt trước</option>
                    </select>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Giá tiền</label>
                    <input type="text" class="form-control" asp-for="P_GiaTien" placeholder="Nhập giá tiền của phòng trên 1 tháng..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Mô tả</label>
                    <input type="text" class="form-control" asp-for="P_MoTa" placeholder="Nhập mô tả phòng..." />
                </div>
            </div>

            <a asp-controller="Phong" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Thoát
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>