@model DoAn.Models.tblPhong
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Sửa phòng của tòa KTX</h2>
    </div>
    <div class="container shadow p-5">
        <form method="post" asp-action="Edit">
            <div class="form-row">
                <input type="text" class="form-control" asp-for="P_ID" type="hidden" />
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="T_ID">Chọn tòa KTX</label>
                    <select class="form-control" asp-for="T_ID" asp-items="ViewBag.toaList">
                        <option value="">-- Chọn tòa cho phòng --</option>
                    </select>
                    <span asp-validation-for="T_ID" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="P_TenPhong">Tên phòng</label>
                    <input type=""text" class="form-control" asp-for="P_TenPhong" placeholder="Nhập tên phòng..." />
                    <span asp-validation-for="P_TenPhong" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="P_LoaiPhong">Loại phòng</label>
                    <select asp-for="P_LoaiPhong" class="form-select" id="P_LoaiPhong">
                        <option value="Phòng 2 người">Phòng 2 người</option>
                        <option value="Phòng 4 người">Phòng 4 người</option>
                        <option value="Phòng 6 người">Phòng 6 người</option>
                        <option value="Phòng VIP">Phòng VIP</option>
                        <option value="Phòng nữ riêng">Phòng nữ riêng</option>
                    </select>
                </div>
                
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="P_SLNguoi">Số lượng người</label>
                    <input type="text" class="form-control" asp-for="P_SLNguoi" placeholder="Nhập số lượng người của phòng" />
                    <span asp-validation-for="P_SLNguoi" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="P_TrangThai">Trạng thái</label>
                    <select asp-for="P_TrangThai" class="form-select" id="P_TrangThai">
                        <option value="Còn trống">Còn trống</option>
                        <option value="Đã đầy">Đã đầy</option>
                        <option value="Đang sử dụng">Đang sử dụng</option>
                        <option value="Đang sửa chữa">Đang sửa chữa</option>
                        <option value="Đang vệ sinh">Đang vệ sinh</option>
                        <option value="Ngừng sử dụng">Ngừng sử dụng</option>
                        <option value="Đặt trước">Đặt trước</option>
                    </select>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="P_GiaTien">Giá tiền</label>
                    <input type="text" class="form-control" asp-for="P_GiaTien" placeholder="Nhập giá tiền của phòng trên 1 tháng..." />
                    <span asp-validation-for="P_GiaTien" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="P_MoTa">Mô tả</label>
                    <input type="text" class="form-control" asp-for="P_MoTa" placeholder="Nhập mô tả phòng" />
                    <span asp-validation-for="P_MoTa" class="alert-danger"></span>
                </div>
            </div>

            <a asp-controller="Phong" asp-action="Index" class="btn btn-lg btn-warning p-2">
            <i class="bi bi-arrow-left-cricle"></i> Thoát
            </a>

            <button type="submit" class="btn b tn-lg btn-primary p-2">
            <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>