@model DoAn.Models.tblCoSo
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm cơ sở mới</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Create">
            <div class="form-row">
                <div class="form-group col-md-6 mb-3">
                    <label >Tên cơ sở</label>
                    <input type="text" class="form-control" asp-for="CS_TenCoSo" placeholder="Nhập tên cơ sở..." />
                    <span asp-validation-for="CS_TenCoSo" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="CS_DiaChi" placeholder="Nhập địa chỉ..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Số tòa KTX</label>
                    <input type="text" class="form-control" asp-for="CS_SoToaKTX" placeholder="Nhập số lượng tòa ktx..." />
                </div>

            </div>

            <a asp-controller="CoSo" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Thoát
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>