@model DoAn.Models.tblDichVu
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm dịch vụ mới</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Create">
            <div class="form-row">

                <div class="form-group col-md-6 mb-3">
                    <label >Tên dịch vụ</label>
                    <input type="text" class="form-control" asp-for="DV_TenDichVu" placeholder="Nhập tên dịch vụ..." />
                    <span asp-validation-for="DV_TenDichVu" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label >Mô tả</label>
                    <input type="text" class="form-control" asp-for="DV_MoTa" placeholder="Nhập mô tả..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Đơn giá</label>
                    <input type="number" class="form-control" asp-for="DV_DonGia" placeholder="Nhập đơn giá..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Đơn vị tính</label>
                    <input type="text" class="form-control" asp-for="DV_DonViTinh" placeholder="Nhập đơn vị tính..." />
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Trạng thái</label>
                    <select asp-for="DV_TrangThai" class="form-select" id="DV_TrangThai">
                        <option value="Hoạt động">Hoạt động</option>
                        <option value="Ngừng hoạt động">Không hoạt động</option>
                    </select>
                </div>

            </div>

            <a asp-controller="DichVu" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Thoát
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu
            </button>
            
        </form>
    </div>
</main>