@model DoAn.Models.tblBaoTriThietBi
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận để xóa thiết bị bảo trì</h2>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="BTTB_ID">BTTB_ID</label>
            <input type="text" class="form-control mb-3" asp-for="BTTB_ID" disabled />
        </div>

        <div class="form-group col-md-6">
            <label>Thiết bị</label>
            <input type="text" class="form-control mb-3" value="@Model.ThietBi!.TB_TenThietBi" disabled />
        </div>

    </div>

    <!-- Begin Form --->
    <form asp-action="Delete" method="Post">
        <input type="hidden" asp-for="BTTB_ID" />
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Thoát
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            <i class="bi bi-trash"></i> Xóa
        </button>
    </form>
    <!-- End Form -->
</main>